html{
    font-family: 'Source Sans Pro', sans-serif;
    padding: 0;
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    border-style: none;
    overflow-x: hidden;
}
body{
    padding: 0;
    margin: 0;
    width: 100%;
}
body::-webkit-scrollbar {
    display: none;
}

main {
   display: flex; /* flex container bestimmen */
   flex-direction: row; /* row (default): left to right, Zeilen oder Spalten moeglich */
   flex-wrap: wrap;  /* standardgemaessig wollen die Flex-Elemente alle in eine Zeile, mit wrap umbrechen die Elemente nach unten, wenn nötig, ohne wären alle vier Bereich nebeneinander  */	
}

h1{
    margin: 0;
    padding: 0.2em;
    font-size: 4em;
}
h3{
    margin: 0;
    padding: 1em 0 0.5em 0;
    font-size: 2em;
}
hr{
  border: #f79e64 solid solid;
}

#wrapper{
    margin: 0;
    padding: 0;
}
#content-wrapper{
    margin: 0;
    padding: 0;
}

header{
    width: 100%;
    background-color: #122c4d;
    text-align: center;
    color: #ffffff;
    border-bottom: solid 0.1em #ffffff; 
}

#content-wrapper #total-numbers{
    width: 100%;
    background-color:#122c4d;
}

#content-wrapper #total-numbers .countPanel{
    float: left;
    width: 33.333333%
}

#content-wrapper #total-numbers .count{
    display: inline;
    background-color:#122c4d;

    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 3em;
    letter-spacing: 0.3em;

    width: 100%;
    float: left;
    color: #ffffff;
    text-align: center;
    padding: 0.5em 0 0.5em 0;
    margin: 0;
}

#content-wrapper #total-numbers .countWW{
    display: inline;
    background-color:#122c4d;

    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 2em;
    letter-spacing: 0.3em;

    width: 100%;
    float: left;
    color: #ffffff;
    text-align: center;
    padding: 0.5em 0 0.5em 0;
    margin: 0;
}


#content-wrapper #total-numbers #totalCasesWW{
    background-color: #122c4d;
}
#content-wrapper #total-numbers #totalCuredWW{
    background-color: #e66d58;
}
#content-wrapper #total-numbers #totalDeathsWW{
    background-color: #d15055;
}


#content-wrapper #total-numbers #totalCasesWWheading{
    background-color: #122c4d;
}
#content-wrapper #total-numbers #totalCuredWWheading{
    background-color: #e66d58;
}
#content-wrapper #total-numbers #totalDeathsWWheading{
    background-color: #d15055;
}

#europe-chart{
    padding: 1em;
    margin: 0;
}
#europe-chart h3{
    text-align: center;
    font-size: 3em;
}

#europeChartToday{
  margin: 0 6em 0 0;
}
#europeChartToday canvas{
    padding: 4em;
}

#europeChartToday h3{
    text-align: center;
    font-size: 3em;
}

#topFiveWorldwide h3{
  text-align: center;
}
.topfiveWrapper{
  display: flex;
}

.topfive{
 width: 50%;
 display: inline; 
}

.topFiveRank{
  width: 100%;
  height: 20%;
}
.topFiveRank p{  
  color: rgb(255, 255, 255);
  text-align: left;
  font-size: 2em;
  /*margin: 2em 2em 0em 2em;*/
  margin: 0 !important;
  padding: 2em ;
  font-size: 3em;
  letter-spacing: 0.5em;
}

footer{
  border-top: #f79e64 solid;
  height: 2em;
  background-color: #122c4d;
  color: #ffffff;
  text-align: center;
  font-size: 1.5em;
}

footer p{
  background-color: #122c4d;
  color: #ffffff;
  text-align: center;
  font-size: 1em;
  margin: 0;
}

@media screen and (max-width: 80em){
    html{
        display: flex;
        justify-content: center;
    }
    body{
        width: 100%;
    }

    h1{
        font-weight: 700;
        font-size: 2.2em;
        letter-spacing: 0.05em;
    }
    h3{
        font-weight: 400;
        font-size: 1em;
        letter-spacing: 0.05em;
    }

    
    #content-wrapper #total-numbers .countPanel{
        float: left;
        display: block;
        width: 100%;
    }
    #content-wrapper #total-numbers .count{
        font-weight: 700;
        font-size: 1.5em;
        letter-spacing: 0.3em;
    
        width: 100%;
        float: center;
        text-align: center;
        padding: 0.2em 0 0.2em 0;
    }
    #content-wrapper #total-numbers .countWW{
        display: inline;
        font-weight: 900;
        font-size: 1.4em;
        letter-spacing: 0.2em;
    
        width: 100%;
        float: center;
        text-align: center;
        padding: 0.2em 0 0.2em 0;
    }
    

    /*footer*/
    footer p{
        font-size: 0.8em;
    }
    footer a{
        font-size: 0.8em;
    }
    
}


@media screen and (max-width: 40em){
    html{
        display: flex;
        justify-content: center;
    }
    body{
        width: 100%;
    }

    h1{
        font-weight: 700;
        font-size: 2.2em;
        letter-spacing: 0.05em;
    }
    h3{
        font-weight: 400;
        font-size: 1em;
        letter-spacing: 0.05em;
    }
    /*footer*/
    footer p{
        font-size: 0.8em;
    }
    footer a{
        font-size: 0.8em;
    }
    
}
  